.content-container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 64px);
  overflow-y: auto;
  width: 100%;
  margin-top: 64px;
}

.page-loader {
  margin-top: 20vh;
  left: calc((100% - 6px) / 2);
}
